:root {
    --nucamp_Gray: #353533;
    --nucamp_Blue: #0097DC;
    --nucamp_Puple: #A93AA5;
}

.App {
    text-align: center;
    font-family: "Lobster", sans-serif;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
    margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-image: linear-gradient(45deg, var(--nucamp_Gray) 30%, var(--nucamp_Puple), var(--nucamp_Blue));
    color: white;
}

footer {
    background-image: linear-gradient(var(--nucamp_Blue), white);
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    z-index: 2;
}

.App-Body {
    margin-top: 25px;
    padding-bottom: 80px;
}

.App-Body select{
    width: 300px;
    margin-bottom: 25px;
    margin: auto auto 10px auto;
}

.App-link {
    color: var(--nucamp_Puple);
    cursor: pointer;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.App .cardList {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.App .classSelect {
    border: 2px solid rgba(0,0,0,.125);
}

.App .card {
    width: 45%;
    border-style: outset;
    margin-bottom: 25px;
    margin-right: 5%;
    border: 2px solid rgba(0,0,0,.125);
}

.card .btn {
    background-color: var(--nucamp_Puple);
    margin-top: 15px;
}

.card .trophy {
    width: 8%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.card .snapshot {
    width: 80%;
}

.card canvas {
    width: 100%;
    height: 100%;
}

.card html {
    overflow: hidden;
}

@media (max-width: 1400px) {
    .App .card {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .App .cardList, .App .card {
        width: auto;
        margin: 10px;
    }
}
